body{
    background-color: black;
}

.div11{
    background-image: url(./Images/ren.jpg);
    width: 100%;
    height: 170px;
    border-radius: 10px;
    
}
.div1{
    background-image: url(./Images/th.jpeg);
    width: 170px;
    height: 100px;
    border-radius: 10px;
}
.div12{
    background-image: url(./Images/da.jpeg);
    width: 170px;
    height: 100px;
    border-radius: 10px;
}
.div2{
    background-image: url(./Images/band.jpeg);
    width: 170px;
    height: 100px;
    border-radius: 10px;
}
.div21{
    background-image: url(./Images/OIP.jpeg);
    width: 170px;
    height: 100px;
    border-radius: 10px;
}
.div3{
    background-image: url(./Images/2face.jpeg);
    width: 170px;
    height: 100px;
    border-radius: 10px;
}
.div31{
    background-image: url(./Images/mu.jpeg);
    width: 170px;
    height: 100px;
    border-radius: 10px;
}
.div4{
    background-image: url(./Images/rugar.jpeg);
    width: 170px;
    height: 100px;
    border-radius: 10px;
}
.div41{
    background-image: url(./Images/ren.jpg);
    width: 170px;
    height: 100px;
    border-radius: 10px;
}

#div1{
    background-color: greenyellow;
    width: 170px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    background-image:url(./Images/mi.jpeg);
}

#div2{
    background-color: goldenrod;
    width: 170px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    background-image:url(./Images/oma.jpeg);
}

#div3{
    background-image:url(./Images/download.jpeg);
    width: 170px;
    height: 100px;
    border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    color: floralwhite;
}
#div31{
    background-image:url(./Images/kizz-daniel-twe-twe.jpg);
    width: 170px;
    height: 100px;
    border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    color: floralwhite;
}

.container1{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
}
.container{
    display: flex;
    justify-content: space-between;
    gap: 0.8remn;
    margin-top: 1rem;
}
.container2{
    display: flex;
    justify-content: space-between;
    gap: 1remn;
    margin-top: 1rem;
}
.cont{
    width: 70%;
   
}
.menu-side{
    width: 20%;
    height: 600px;
    background-color: #222;
}
.you{
    display: flex;
    justify-content: space-between;
    color: white;
}
.capi{
    text-transform: capitalize;
    font-style: oblique;
}
#pass{
    display: flex;
    justify-content: space-between;
}
#fa{
    padding-top: 1.5rem;
    gap: 2rem;
}
.pass{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blueviolet;
}
#off{
    display: flex;
    justify-content: space-between;
    color: white;
}
.main-div{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin:50px 100px 100px 150px ;
    background-color: black;
    padding-right: 10px;
}

p{
    color: white;
}
h4,a{
    color: white;
}

.icon{
    margin-left: 10px;
    margin-top: 80px;
}

.music1{
    display: flex;
    justify-content: space-between;
}
.music2{
    display: flex;
    justify-content: space-between;
}
.music3{
    display: flex;
    justify-content: space-between;
}

#music1{
    width: 40px;
    height: 40px;
    border-radius: 6px;
}

i{
    color: white;
}

.i{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.text{
    line-gap-override: -1rem;
    text-align: center;
}

.text1{
    font-size: large;
    font-style: oblique;
    text-transform: capitalize;
}
.text2{
    text-transform: capitalize;
    font-size: 4px;
    font-style: italic;
}

.play-pause-button {
    cursor: pointer;
    align-items: center;
}

.play-pause-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}